@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Varela Round", sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
}

/* Loader */

#spinner_mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

#spinner_mask img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image_container {
    margin: 10px 20%;
}

#image_container img {
    width: 100%;
    margin: 0.5rem 0;
}